[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
    ignore = dirty
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
    ignore = dirty
[submodule "bacpac"]
	path = bacpac
	url = https://gist.github.com/u1and0/8bd32ade8d95988b52b03a1b08297b96
	ignore = dirty
