[user]
	name = U1and0
	email = e01.ando60@gmail.com
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
	interactive = true
[core]
	autoCRLF = false
	whitespace = cr-at-eol
	excludesfile = ~/.globalgitignore
	symlinks = true
	quotepath = false
	# preloadindex = true  # <windows用>インデックスの比較を並列実行してくれてgit statusなどを高速化 
	# fscache = true  # <windows用>ユーザーディレクトリへのアクセスではなくシステム領域にキャッシュを書き込む
[pack]
	packSizeLimit = 2g
[diff]
	renames = true
[rebase]
	autosquash = true
[gui]
	encoding = utf-8
[alias]
	# ========Useful========
	sort = for-each-ref --sort=committerdate refs/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'  # Display branch info
	alias = config --get-regexp alias.*  # Display alias list
	zip = !git archive --format=zip HEAD > `git symbolic-ref --short HEAD`.zip  # Archive HEAD as zip
	# ========add, commit, push========
	aa = !git add .
	an = !git add -n .
	aundo = reset HEAD
	ac = commit -am
	c = commit -m
	cundo = commit --amend
	po = push origin
	# ========diff========
	difff = !git diff --word-diff
	dif = !git diff --name-only
	# ========branch========
	b = branch
	# ========log========
	# --stat: 統計情報
	 log0 = !git log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)― %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
	log1 = !git log --pretty='format:%C(yellow)%h%Creset %C(magenta)%cd%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset%C(black bold)%ar%Creset' --date=iso
	log2 = !git log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)― %an%C(reset)' --abbrev-commit
	log3 = !git log --graph --date-order -C -M --pretty=format:'<%h> %ad [%an] %Cgreen%d%Creset %s' --all --date=short
	log4 = !git log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(black bold)%an, %ar%Creset'
	log5 = !git log --graph --all --name-only  --pretty='format:%C(yellow)%h%Cred%d%C(green) %s %C(black bold)%ar%Creset'
	 log6 = !git log --graph --all --stat --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)― %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
	last = !git log --pretty='format:%C(yellow)%h%Creset %Creset%s %C(bold cyan)[%ar] %Cred%d%Creset'  $(git tag | tail -1)..  # Latest tag
	today = !git log --oneline --decorate --all --graph --since='yesterday' --date=format:'%H:%M:%S' --format=format:'%C(bold blue)%h%C(reset) %C(bold cyan)%ad%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''        %C(white)%s%C(reset) %C(bold white)' --abbrev-commit  # todays work
