# '#' で始まる行は無視されます
# foo.txt という名前の全てのファイルを無視する
#	foo.txt
# (生成された) html ファイルは無視する
#	*.html
# foo.html は例外とし、手でメンテナンスします
#	!foo.html
# object と archive ファイルは無視する
#	*.[oa]
# 参考: [複雑な.gitignoreの書き方参考](http://qiita.com/anqooqie/items/110957797b3d5280c44f)



# すべてのファイル
/*


# bash cofigファイル
!.bash_profile
!.bash_aliases
!.bash_functions
!.zshrc
!.pyenvrc
!.vimrc
!.tigrc

# gitファイル
!.gitignore
!.globalgitignore
!.gitconfig

# yaourt config
!.yaourtrc

# すべてのディレクトリを無視
/*/

# ranger設定ファイル
!/.config/
/.config/*
!/.config/ranger/
/.config/ranger/*
!/.config/ranger/rc.conf

# python系
!/.ipython/
/.ipython/*
!/.ipython/extensions/
/.ipython/extensions/*/
!/.ipython/profile_default/
/.ipython/profile_default/*/
/.ipython/profile_default/history.sqlite*
!/.ipython/profile_default/startup/

# バイナリファイル
.ipython/profile_default/db/dhist

!/.matplotlib/
/.matplotlib/*.cache

!/.jupyter/

!/.vim/
